<div class="container">
    <form method="post" #frm="ngForm" (ngSubmit)="criar(frm)" contenteditable="json">
        
        <div class="form-group">
            <span class="p-float-label">
                <input id="float-input" [(ngModel)]="form.nome" type="text" id="nome"
                 name="nome" class="form-control" required pInputText> 
                <label for="float-input">Nome</label>
            </span>            
        </div>
        <br>
        <div class="form-group">
            <span class="p-float-label">
                <input id="float-input" [(ngModel)]="form.email" type="email" id="email"
                 name="email" class="form-control" required pInputText>
                <label for="float-input">Email</label>
            </span>
        </div>

        <br>
        <div>
            <button pButton type="submit" [disabled]="frm.invalid">Salvar</button>
        </div>
    </form>
</div>
<br><br>
<div>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let usuario of usuarios;">
            <td>
                {{usuario.nome}}
            </td>
            <td>
                {{usuario.email}}
            </td>
        </tr>
    </table>
    </div>
    
    
    
    

